.panel
  %table.table.table-boarded.table-hover
    %thead
      %tr
        %th Horario
        - next_days do |day|
          %th= day
    %tbody
      - hours_range do |hour|
        %tr
          %td= hour
          - next_days do |day|
            %td{"data-datetimerecord" => "#{day} #{hour}"} Reservar

