-if params[:controller] == 'home'
  %div#flash_box.alert.alert-info
    %div#flash_message To schedule a reservation, click at an empty slot, to cancel a reservation, place your mouse over it and click to cancel
